html	{
	font-size: 18px;
}

body 	{
	color: white;
	font-family: helvetica;
}

header 	{
	background-color: black;
	display: flex;
	justify-content: center;
}

.container 	{
	width: 960px;
	display: flex;
}

.container header {
	justify-content: flex-start;
}

#logo img {
	height: 1.5rem;
	margin: 0.66rem 1rem 0.66rem 0.5rem;
}

#logo_text {
	align-self: center;
	font-size: 1rem;
}

.banner 	{
	height: 25rem;
	background-image: url(../images/moto.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

#banner_title	{
	background-color: black;
	width: 20rem;
	display: flex;
	flex-direction: column;
	margin-top: 9rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 3rem;
}

#banner_title p {
	font-weight: bold;
	margin-bottom: 0.25rem;
}

#banner_title h2 {
	padding: 0px;
	font-size: 2rem;
	font-weight: bold;
}

nav {
	display: flex;
	justify-content: center;
	background-color: firebrick;
}

nav .container {
	display: flex;
	justify-content: space-around;
}

nav span {
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

a {
	color: white;
	text-decoration: none;
}

#product_grid {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	width: 100%;

}

#product_grid p {
	background-color: black;
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#product_grid img {
	align-self: center;
	margin: 2rem;
	width: 9rem;

}

.main {
	display: flex;
	justify-content: center;
}

.item {
	border: 4px solid black;
	width: 30%;
}

.box {
	height: 13rem;
	display: flex;
	justify-content: center;
}

#details {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.detail_box {
	width: 35%;
}

.detail_box .top {
	padding-left: 2rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	background-color: black;
}

.detail_box .bottom {
	padding-left: 2rem;
	color: black;
}

.main .container {
	flex-direction: column;
}

footer {
	margin-top: 4rem;
	height: 5rem;
	display: flex;
	justify-content: center;
	background-color: black;
}

footer p {
	text-align: left;
	align-self: center;
}

@media only screen and (max-width: 1024px) {

	#glasses.item {
		display: none;
	}

	.item {
		width: 47%;
	}

	#nav1 {
		display: none;
	}
}

@media only screen and (min-width: 1024px) {

	#nav2 {
		display: none;
	}

}

@media only screen and (max-width: 470px) {

	#banner_title p {
		font-size: 0.77rem;

	}

	#banner_title h2 {
		font-size: 1rem;
	}

	#banner_title {
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
		margin-top: 10rem;
	}

	.banner {
		height: 15rem;
	}

	.item {
		width: 90%;
	}

	#watch.item {
		display: none;
	}

	#details {
		flex-direction: column;
	}

	.detail_box {
		width: 90%;
		margin-top: 0.5rem;
	}

	footer .container {
		justify-content: center;
	}
}